<!-- Intro -->
<section id="intro" class="wrapper style2 fullscreen fade-up">
	<div class="inner">
		<!-- <a href="#" class="image"><img src="{{site.logo_url}}" alt="" data-position="" /></a> -->
		<h1>{{ site.title }}</h1>
		<p>{{ site.description }}</p>
		<ul class="actions">
			<li><a href="#overview" class="button scrolly">Learn more</a></li>
      <li><a href="https://sendash-app.herokuapp.com/" class="button scrolly" target="_blank">Live Demo</a></li>
      <li><a href="https://github.com/sendash-app" class ='button' target = '_blank'><i class="fa fa-github fa-lg"></i> GitHub</a></li>
    </ul>
	</div>
</section>
