<!-- Intro -->
<section id="overview" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<h2>The Market Open can be very volatile!</h2>
		<p>A stock could lose (or gain) 2% of value overnight !  for <a href = 'https://www.livemint.com/Money/Pz0HsViIcyesbNRTkFbxBN/Jeff-Bezos-fortune-falls-9-billion-overnight.html' target="_blank">$AMZN</a> that's $16B market cap...</p>

    <a href = 'images/overview.png'><img src = "images/overview.png" alt = "" width = '95%' /></a>

		<ul class="actions">
			<li><a href="#solution" class="button scrolly">How We Can Help</a></li>
		</ul>

	</div>
</section>
