<!-- Intro -->
<section id="overview" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<h2>The Market Open can be very Unpredictable !</h2>
		<p>In the absense of Continuous <a href="https://en.wikipedia.org/wiki/Price_discovery" target="_blank">Price Discovery</a>, a stock could make very big moves overnight ! <br/> For example, <a href = 'https://www.livemint.com/Money/Pz0HsViIcyesbNRTkFbxBN/Jeff-Bezos-fortune-falls-9-billion-overnight.html' target="_blank">$AMZN</a> dropped 2% at the open on 02-09-2019, that's $16B market cap lost in one night...</p>

    <a href = 'images/overview.png'><img src = "images/overview.png" alt = "" width = '95%' /></a>

		<ul class="actions">
			<li><a href="#solution" class="button scrolly">How We Can Help</a></li>
		</ul>

	</div>
</section>
