<!-- One -->
<section id="team" class="wrapper style1 spotlights">
	<section>
		<a href="#" class="image"><img src="images/jho01.jpg" alt="" data-position="center center" /></a>
		<div class="content">
			<div class="inner">
				<h2>John Ho</h2>
				<p>Aspiring Data Scienist, former prop trading desk jockey, Lululemon Ambrassador</p>
				<ul class="actions">
					<li><a href="http://johnho.ca" class="button">Connect</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="images/rico01.png" alt="" data-position="top center" /></a>
		<div class="content">
			<div class="inner">
				<h2>Rico Ng</h2>
				<p>Aspiring Data Scientist, a Chinese language and literature graduate interested in Natural Language Processing and its applications</p>
				<ul class="actions">
					<li><a href="https://www.linkedin.com/in/rico-ng-b7bab510a/" class="button">Connect</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="images/larry02.jpg" alt="" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h2>Larry Wong</h2>
				<p>Data storyteller with software engineering background, passionate about data science</p>
				<ul class="actions">
					<li><a href="http://linkedin.com/in/larry-wong-b38946a2" class="button">Connect</a></li>
				</ul>
			</div>
		</div>
	</section>
</section>
